
@media(min-width: 1200px){
  .ubicacion3{
    &_right{
      max-width: 670px;
      top: 12%;
    }
  }
}
@media(min-width: 1400px){
  .descriptions{
    &_right{
      &::before{
        width: 140%;
      }
    }
    img.imgleft {
      max-width: 480px;
      left: 58px;
    }
    &_logos{
      column-gap: 100px;
    }
  }
  .ubicacion3{
    &_right{
      max-width: 775px;
      top: 8%;
    }
  }
  .amenities1{
    &_img{
      img{
        max-width: 660px;
      }
    }
  }
}

@media (min-width: 1600px){
  .descriptions{
    &_logos{
      column-gap: 120px;
    }
  }
  .ubicacion3{
    &_center{
      margin-left: 0;
    }
  }
}
@media (max-width: 1399.98px) {
  .unitsGallery {
    width: 55%;
  }
  .amenities1{
    &_img{
      img{
        max-width: 610px;
      }
    }
  }
}
@media (max-width: 1199px) {
  .descriptions{
    background-image: none;
    background-color: $lightestgrey;
    padding: 0;
    &_right{
      padding-top: 51px;
      padding-bottom: 41px;
      padding-left: calc(var(--bs-gutter-x) * .5);
      padding-right: calc(var(--bs-gutter-x) * .5);
      &::before{
        position: relative;
      }
    }
    &_text{
      padding: 0;
    }
    &_banner{
      background-image: none;
    }
    &_table{
      flex-direction: column;
      text-align: center;
      .uline{
        display: none;
      }
    }
    .button{
      text-align: center;
      margin-top: 28px;
    }
    &_logos{
      justify-content: center;
      column-gap: 32px;
      margin-top: 37px;
      .text {
        font-size: 10px;
      }
      img{
        max-width: 91px;
      }
    }
  }
  .unitsGallery {
    width: 100%;
  }
  .amenities1{
    &_img{
      img{
        max-width: 525px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .banner{
    background-image: url(../../assets/images/header/header-m.jpg);
  }
  .ubicacion1{
    padding-top:43px;
    padding-bottom: 15px;
    &_right{
    justify-content: center;
    padding-top: 30px;
    }
    &_mano{
      max-width: 400px;
      width: 100%;
      margin-top: 15px;
      margin-left: auto;
    }
  }
  .ubicacion2{
    iframe {
      height: 80vh;
    }
  }
  .ubicacion3{
    &_center{
      margin-left: 0;
    }
    &_right {
      position: relative;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 770px;
      padding: 0;
      span{
        &::after{
          width: 15px;
          height: 15px;
          bottom: 31px;
        }
      }
    }
  }
  .unidades{
    padding-top: 38px;
    &_tecno {
      margin-top: 42px;
    }
  }
  .tipologias{
    padding-bottom: 5px;
    p.title{
      font-family: Poppins;
      color: $white;
      font-weight: 400;
    }
    p.h3{
      font-family: Poppins;
      color: $white;
      margin-bottom: 11px;
    }
    &_imgA{
      background-size: cover;
      height: 52vh;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    .swiper-slide {
      flex-direction: column;
     }
    .swiper-button-white{
      top: 93%;
      &::after{
        font-size: 20px;
        color: $white;
      }
    }
    .swiper-button-prev {
      left: auto;
      right: 90px;
    }
    .swiper-button-next {
      right: 30px;
    }
    .btn.btn-primary {
      padding: 5px 20px;
    }
    &_mtext{
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 20px 0;
      position: relative;
      background-image: url(../../assets/images/tipologias/fondo-m.png);
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: -1px;
      background-position-x: center;
    }
  }
  #myModal{
    .modal-content{
      padding: 20px 40px;
      border-radius: 30px;
      .btn-close{
        top: 30px;
        right: 30px;
      }
      .modal-body{
        .swiper-wrapper{
          .swiper-slide{
            grid-template-columns: auto;
            row-gap: 50px;
            .col-left{
              p.h1{
                font-size: 1.5rem;
              }
              p.h5{
                font-size: 1rem;
              }
              p.line{
                font-size: 0.875rem;
                padding: 8px 0;
                margin-bottom: 0;
              }
              p.mt-3{
                font-size: 0.625rem;
              }
              .img-left{
                display: none;
              }
            }
            .col-right{
              .img-right {
                max-width: 200px;
              }
              .img-rightB{
                margin-left: 10px;
              }
            }
          }
        }
        .swiper-button-white{
          &::after{
            font-size: 20px;
            color: $primary;
          }
        }
        .swiper-button-prev{
          left: -20px;
        }
        .swiper-button-next {
          right: -20px;
        }
      }
    }
  }
  .unitsGallery {
    padding-bottom: 50px;
  }
  .amenities1{
    margin-top: 0;
    padding-top: 41px;
    padding-bottom: 0;
    &_img{
      position: relative;
      img{
        max-width: 990px;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
  .amenities2{
    padding-top: 46px;
    padding-bottom: 60px;
    &_icons{
      display: grid;
      grid-template-columns: 1fr 1fr;
      &_frame{
        img {
          margin-bottom: 11px;
          margin-top: 25px;
        }
      }
    }
    .fancyImgBox {
      grid-template-columns: 1fr;
      grid-row-gap: 45px;
      .fancyBox .fancyImgItem{
        height: auto;
      }
    }
  }
  .bamenities{
    .swiper-container .swiper-button-white{
      &::after{
        font-size: 20px;
      }
    }
  }
  .avance{
    margin-top: 0;
    padding-bottom: 52px;
    padding-top: 48px;
    &_line img{
      width: 90%;
    }
    &_icons-text{
      width: 100%;
      .inic{
        width: 30%;
      }
      .finish{
        width: 30%;
      }
    }
  }
  .gallery{
    padding-top: 0;
    #lightgallery {
      grid-template-columns: repeat(4, 1fr);
      margin-top: 10px;
    }
  }
  .projecto{
    .text.text-center {
      width: 100%;
    }
    &_logo{
      margin-bottom: 31px;
    }
  }
  .contact{
    padding-bottom: 30px;
    form#contactForm {
      width: 100%;
    }
    &_form2{
      margin-top: 20px;
    }
  }
}

@media (max-width: 767.98px) {
  .ubicacion3{
    .educations{
      span{
        &:first-child{
          bottom: 14%;
          left: 3%;
        }
        &:nth-child(2){
          right: 35%;
        }
        &:last-child{
          bottom: 37%;
          right: 0%;
        }
      }
    }
    .tours{
      span{
        &:first-child{
          bottom: 27%;
          left: 24.5%;
        }
        &:nth-child(2){
          bottom: 34%;
          left: 38.8%;
        }
        &:nth-child(3){
          bottom: 34%;
          left: 48%;
        }
        &:nth-child(4){
          bottom: 35.5%;
          right: 25%;
        }
        &:nth-child(5){
          top: 34%;
          right: 18%;
        }
        &:nth-child(6){
          bottom: 2%;
          right: 15%;
        }
        &:nth-child(7){
          top:24%;
          right: 11%;
        }
        &:last-child{
          bottom: 11%;
          right: -1%;
        }
      }
    }
    .shopping{
      span{
        &:first-child{
          bottom: 4%;
          left: -1%;
        }
        &:nth-child(2){
          bottom: 45.5%;
          left: 32%;
        }
        &:nth-child(3){
          bottom: 26%;
          left: 34%;
        }
        &:last-child{
          bottom: 23.5%;
          right: 42%;
        }
      }
    }
  }
  .unidades{
    &_edif{
      text-align: center;
    }
    &_footer{
      flex-direction: column;
      align-items: center;
      &_text{
        text-align: center;
        margin-top: 20px;
      }
    }
    &_flex-tecno{
      margin-top: 32px;
      margin-bottom: 45px;
      justify-content: center;
      img {
        width: 45%;
      }
      img:first-child {
        margin-right: 30%;
      }
      img:nth-child(2) {
        order: 2;
        margin-right: 0;
        margin-left: 40%;
      }
      img:nth-child(3) {
        order: 3;
        margin-top: -40%;
        z-index: 2;
        margin-right: 30%;
      }
      img:nth-child(4) {
        margin-left: 35%;
        margin-top: -15%;
        z-index: 1;
      }
    }
  }
  .unitsGallery{
    padding: 10px 0 0 0;
    .container .col-12 {
      padding: 0;
    }
    .gallery-thumbs {
      display: none;
    }
    .gallery-top{
      .swiper-button-white{
        &::after{
          font-size: 20px;
        }
      }
    }
  }
  .amenities2{
    .fancyImgBox {
      .fancyBox {
        .fancyImgItem{
          .thumbnail{
            margin-bottom: 0;
            width: 100%;
            max-width: 287px;
          }
        }
       .information .titleFancyBox{
        margin-bottom: 10px;
       }
      }
    }
  }
  .avance{
    &_line img{
      width: 85%;
    }
    &_icons-text{
      .inic{
        width: 38%;
      }
      .finish{
        width: 38%;
      }
    }
  }
  .projecto{
    &_down {
      flex-direction: column;
      p {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .ubicacion1{
    &_mano{
      max-width: 300px;
    }
  }
  .ubicacion2{
    iframe {
      width: 100%;
      height: 230px;
    }
  }
  #myModal{
    .modal-content .modal-body .swiper-wrapper .swiper-slide{
      .col-right .img-right{
        max-width: 150px;
      }
    }
  }
  .unitsGallery {
    margin-top: 0;
    padding-top: 0;
  }
  .avance{
    &_line img{
      width: 80%;
    }
    &_icons-text{
      .inic{
        width: 50%;
      }
      .finish{
        width: 50%;
      }
    }
  }
}
@media (max-width: 475.98px) {
  .ubicacion3{
    .educations{
      span{
        &:first-child{
          bottom: 12.5%;
          left: 1%;
        }
        &:nth-child(2){
          right: 33.5%;
        }
        &:last-child{
          bottom: 35%;
        }
      }
    }
    .tours{
      span{
        &:first-child{
          bottom: 26%;
          left: 23.5%;
        }
        &:nth-child(2){
          bottom: 33%;
          left: 37.8%;
        }
        &:nth-child(3){
          bottom: 33%;
          left: 47%;
        }
        &:nth-child(4){
          bottom: 33.5%;
          right: 24%;
        }
        &:nth-child(5){
          top: 33%;
          right: 16%;
        }
        &:nth-child(6){
          bottom: 0%;
          right: 14%;
        }
        &:last-child{
          bottom: 9%;
        }
      }
    }
    .shopping{
      span{
        &:first-child{
          bottom: 3%;
          left: -2%;
        }
        &:nth-child(2){
          bottom: 43.5%;
          left: 31%;
        }
        &:nth-child(3){
          bottom: 25%;
          left: 33%;
        }
        &:last-child{
          bottom: 21.5%;
          right: 43%;
        }
      }
    }
  }
}
@media (max-width: 425.98px) {
  .avance{
    &_line img{
      width: 70%;
    }
    &_icons-text{
      .inic{
        width: 70%;
      }
      .finish{
        width: 70%;
      }
    }
  }
}
@media (max-width: 375.98px) {
  .ubicacion3{
    .educations{
      span{
        &:first-child{
          bottom: 9.5%;
          left: -1%;
        }
        &:nth-child(2){
          right: 30.5%;
        }
        &:last-child{
          bottom: 34%;
          right: -2%;
        }
      }
    }
    .tours{
      span{
        &:first-child{
          bottom: 23%;
          left: 21.5%;
        }
        &:nth-child(2){
          bottom: 31%;
          left: 35.8%;
        }
        &:nth-child(3){
          bottom: 31%;
          left: 45%;
        }
        &:nth-child(4){
          bottom: 31.5%;
          right: 23%;
        }
        &:nth-child(5){
          top: 35%;
          right: 15%;
        }
        &:nth-child(6){
          bottom: -3%;
          right: 12%;
        }
        &:nth-child(6){
          top: 24%;
          right: 9%;
        }
        &:last-child{
          bottom: 5%;
          right: -3%;
        }
      }
    }
    .shopping{
      span{
        &:first-child{
          bottom: 0%;
          left: -3%;
        }
        &:nth-child(2){
          bottom: 40.5%;
          left: 28%;
        }
        &:nth-child(3){
          bottom: 23%;
          left: 32%;
        }
        &:last-child{
          bottom: 19%;
          right: 42%;
        }
      }
    }
  }
}
@media (max-width: 320 .98px) {
  .ubicacion3{
    .educations{
      span{
        &:nth-child(2){
          right: 28.5%;
        }
      }
    }
  }
}
