/*----------------------------banner-header-------------------------------*/
.banner{
  background-image: url(../../assets/images/header/header-d.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 150px;
  h1, p{
    color: $white;
  }
  h1{
    padding-bottom: 15px;
    padding-top: 5px;
  }
}
/*----------------------------Description---------------------------------*/
.descriptions{
  padding: 100px 0;
  background-image: url(../../assets/images/descripcion/fondo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &_image{
    position: relative;
    z-index: 2;
  }
  &_right{
    position: relative;
    z-index: 1;
    padding: 30px 12px;
    &::before{
      content: "";
      position: absolute;
      height: 100%;
      background: #fff;
      z-index: 1;
      width: 150%;
      right: 0;
      top: 0;
      box-shadow: 7px 6px 28px #00000021;
    }
    img.logo{
      max-width: 150px;
      width: 100%;
      margin-bottom: 18px;
    }
  }
  img.imgleft {
    max-width: 500px;
    position: absolute;
    left: -43px;
    top: -27px;
  }
  &_text{
    position: relative;
    z-index: 2;
    padding: 0 40px;
  }
  &_table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
    p{
      margin-bottom: 0;
    }
    .line{
      margin: 11px 0;
      border-bottom: 1px solid $lightgrey;
    }
  }
  .button{
    margin-top: 23px;
  }
  &_logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 90px;
    margin-top: 24px;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
    }
    img{
      max-width: 110px;
      width: 100%;
      height: 40px;
      margin-top: 10px;
    }
  }
}
/*----------------------------Ubicacion1----------------------------------*/
.ubicacion1{
  padding-top:80px;
  padding-bottom: 70px;
  &_left{
    text-align: center;
    &_img{
      max-width: 400px;
      width: 100%;
    }
  }
  &_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 61px;
    &_flor{
      max-width: 218px;
      width: 100%;
    }
    &_mano{
      position: absolute;
      max-width: 400px;
      right: 0;
      bottom:120px;
    }
  }
}
/*----------------------------Ubicacion2----------------------------------*/
.ubicacion2{
  padding: 0;
  iframe {
    width: 100%;
    height: 100vh;
  }
}
/*----------------------------Ubicacion3----------------------------------*/
.ubicacion3{
  .leaf {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 130px;
  }
  &_title{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
      max-width: 37px;
      width: 100%;
      margin-right: 10px;
    }
  }
  &_center{
    margin-left: 100px;
  }
  &_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    column-gap: 20px;
    cursor: pointer;
    user-select: none;
    img{
      max-width: 19px;
      width: 100%;
    }
    p{
      margin-bottom: 0;
    }
    &:hover{
      font-weight: 700;
    }
    &.selector{
      p{
        color:$black;
        font-weight: 700;
      }
    }
  }
  &_right{
    position: absolute;
    right: 0;
    max-width: 560px;
    padding-right:0;
    top: 25%;
    .active{
      span:hover *{
        opacity: 1;
        transition: 0.3s ease;
      }
      span::after{
        opacity: 1 !important;
      }
    }
    span{
      b{
        padding: 4px 5px 1px 5px;
        line-height: 1.25;
        display: inline-block;
        position: relative;
        z-index: 10;
      }
      color: $white;
      text-align: left;
      font-weight: 600;
      font-size: 0.6rem;
      position: absolute;
      max-width: 95px;
      text-align: center;
      &::after {
        opacity: 0;
        position: absolute;
        content: "";
        width: 14px;
        height: 19px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        z-index: 2;
        bottom: 35px;
        right: 22px;
      }
      &:hover::after{
        transform: translateY(-3px);
        transition: 0.3s ease;
      }
    }
  }
  .educations{
    span{
      &::after {
        background-image: url(../../assets/images/ubicacion/pin-educacion.svg);
      }
      b{
        opacity: 0;
        background-color: $primary;
      }
      &:first-child{
        &::after{
          right: 30px;
        }
        bottom: 15%;
        left: 6%;
      }
      &:nth-child(2){
        &::after{
          right: 40px;
        }
        top: 16.5%;
        right: 37%;
      }
      &:last-child{
        &::after{
          right: 17px;
        }
        bottom: 40%;
        right: 1.8%;
      }
    }
  }
  .tours{
    span{
      &::after {
        background-image: url(../../assets/images/ubicacion/pin-turismo.svg);
      }
      b{
        opacity: 0;
        background-color: $text;
      }
      &:first-child{
        &::after{
          right: 12px;
        }
        bottom: 28%;
        left: 26.5%;
      }
      &:nth-child(2){
        bottom: 35%;
        left: 40.8%;
      }
      &:nth-child(3){
        &::after{
          right: 35px;
        }
        bottom: 35%;
        left: 49%;
      }
      &:nth-child(4){
        &::after{
          bottom: 22px;
        }
        bottom: 36.5%;
        right: 27%;
      }
      &:nth-child(5){
        top: 34%;
        right: 20%;
      }
      &:nth-child(6){
        &::after{
          right: 28px;
        }
        bottom: 3%;
        right: 16%;
      }
      &:nth-child(7){
        top:24%;
        right: 13%;
      }
      &:last-child{
        bottom: 12%;
        right: 1%;
      }
    }
  }
  .shopping{
    span{
      &::after {
        background-image: url(../../assets/images/ubicacion/pin-shopping.svg);
      }
      b{
        opacity: 0;
        background-color: $secondary;
      }
      &:first-child{
        bottom: 5%;
        left: 2%;
      }
      &:nth-child(2){
        bottom: 47.5%;
        left: 34%;
      }
      &:nth-child(3){
        &::after{
          bottom: 46px;
          right: 20px
        }
        bottom: 27%;
        left: 35%;
      }
      &:last-child{
        bottom: 24.5%;
        right: 41%;
      }
    }
  }
}
/*---------------------------Units-------------------------------*/
.unidades{
  background-color: $lightestgrey;
  padding-top: 100px;
  &_title{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
      max-width: 37px;
      width: 100%;
      margin-right: 10px;
    }
  }
  p.h4{
    font-style: italic;
    font-weight: 300;
  }
  &_edif{
    img {
      width: 100%;
    }
  }
  .edf-select{
    opacity:0;
    cursor: pointer;
    &.active{
      opacity:1;
      pointer-events: none;
    }
    &:not(.active):hover{
      opacity: 1;
      .st182{
        stroke: $primary;
        stroke-width: 5px;
        fill: #0000;
      }
    }
  }
  #nameLevel{
    color: $primary;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-content: center;
    img{
      width: 22px;
      height: auto;
    }
  }
  &_download {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
    .down {
      width: 15px;
      margin-right: 10px;
    }
    .zoom{
      width: 25px;
      margin-left: 20px;
      transform: translateY(-3px);
    }
    a{
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: $primary;
    }
  }
  &_progress{
    border-bottom: 2px solid #cecece;
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  &_footer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 50px;
    margin-top: 55px;
    margin-bottom: 30px;
    &_chart{
      display: flex;
      align-items: center;
      margin-top: 2px;
      canvas#myChart {
        width: 110px!important;
        height: auto!important;
        margin-right: -25px;
      }
      img.porcentage{
        width: 80px;
        padding-right: 20px;
      }
      .titleFoo {
        line-height: 0.8;
        font-style: normal!important;
        margin-left: 10px;
        color: $primary;
        span{
          font-size: 0.75rem;
        }
      }
    }
    &_text{
      position: relative;
      h5{
        font-family: 'Roboto';
        font-style: italic;
        color: $text;
        font-weight: 400;
      }
      &::before{
        content: '';
        position: absolute;
        left: -8%;
        height: 60px;
        width: 1px;
        background: #cecece;
      }
    }
  }
  &_tecno {
    margin-top: 60px;
  }
  &_flex-tecno{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img {
      width: 30%;
      z-index: 1;
    }
    img:first-child {
      order: 1;
      margin-right: 5%;
    }
    img:nth-child(2) {
      order: 3;
      margin-left: 20%;
      margin-right: 5%;
      margin-top: -20%;
      z-index: 2;
    }
    img:nth-child(3) {
      order: 2;
    }
    img:nth-child(4) {
      order: 4;
      margin-top: -20%;
      z-index: 0;
    }
  }
}
