@media(min-width: 1400px){
  .descriptions{
    &_right{
      &::before{
        width: 140%;
      }
    }
    img.imgleft {
      max-width: 480px;
      left: 58px;
    }
    &_logos{
      column-gap: 100px;
    }
  }
}

@media (min-width: 1600px){
  .descriptions{
    &_logos{
      column-gap: 120px;
    }
  }
}

@media (max-width: 1199px) {
  .descriptions{
    background-image: none;
    background-color: $lightestgrey;
    padding: 0;
    &_right{
      padding-top: 51px;
      padding-bottom: 41px;
      padding-left: calc(var(--bs-gutter-x) * .5);
      padding-right: calc(var(--bs-gutter-x) * .5);
      &::before{
        position: relative;
      }
    }
    &_text{
      padding: 0;
    }
    &_banner{
      background-image: none;
    }
    &_table{
      flex-direction: column;
      text-align: center;
      .uline{
        display: none;
      }
    }
    .button{
      text-align: center;
      margin-top: 28px;
    }
    &_logos{
      justify-content: center;
      column-gap: 32px;
      margin-top: 37px;
      .text {
        font-size: 10px;
      }
      img{
        max-width: 91px;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .banner{
    background-image: url(../../assets/images/header/header-m.jpg);
  }
}
