$primary: #E15344;
$secondary: #579693;
$text: #494846;

// $text-secondary: #425762;
// $text-hover: #191920;
$btn: #df4333;
$btn-hover: #df4333;

$white: #fff;
$black: #000;

$lightestgrey: #F7F7F7;
$lightgrey: #B7B1A6;

// $lightergrey: #D3D4D3;
// $darkgrey: #86888C;
// $darkergrey: #50535A;
// $darkestgrey: #313235;
